<div class="container ">
    <div class="row gx-5 justify-content-left">
        <div class="col-lg-6 ">
            <div class="text-left my-5">
                <h1 class="display-5 fw-bolder text-black mb-2">Conoce más de lo que hacemos</h1>
                <p class="lead text-black mb-4">A mis 20 años de edad empecé a conocer una realidad social
                    donde el gran responsable es nuestra manera de pensar y
                    nuestra construcción cultural, acciones y decisiones cimentadas
                    en nuestros paradigmas mentales y estructuras de pensamientos.
                    A lo largo de mi vida me he visto impedido por las imposiciones
                    familiares y por la estructura social como tal a descubrir mi
                    propósito en la vida, luchaba sin saber que la solución a mis
                    problemas consistía en cambiar mi mente y replantearme mi
                    verdadero propósito, luego de ocupar puestos públicos y de
                    reconsiderar mi carrera académica, descubrí que mi pasión era
                    y es el de servir a los demás en lo que pudiera estar a mi alcance.
                    Sin embargo, el poco ingreso que obtenía no alcanzaba para
                    cumplir esta misión de vida y propósito por lo que asumí mi rol
                    histórico y social y con la ayuda de amigos constituí la Fundación
                    Alegrando el Alma para que a través de ella y con la contribución
                    de personas caritativas y generosas lograr servir y ayudar a mis
                    compatriotas más necesitados.
                    </p>
              
             
                
            </div>
        </div>
    </div>
</div>
<section class="py-5 border-bottom" id="features">




    <div class="container px-5 my-5">
        <h1>Fundadores</h1>
        <div class="row gx-5">
            <div class="row">

                <div class="card card-body">
                    <div class="row">
                        <div class="col-md-4 col-lg-3 text-center">
                            <a href="app-contact-detail.html"><img src="../assets/images/users/1.jpg" alt="user" class="img-circle img-responsive"></a>
                        </div>
                        <div class="col-md-8 col-lg-9">
                            <h3 class="box-title m-b-0">Hardy Cruz Aldás</h3>
                            <address>
                                “No todo está perdido en este mundo mientras aun respiramos.”<br>
                               “Todos los días sale el sol, así como las oportunidades para
                                   <br> cambiar y ser felices.”
                                <br>
                                <br>
                                <!-- <abbr title="Phone">P:</abbr> (123) 456-7890 -->
                            </address>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="card card-body">
                <div class="row">
                    <div class="col-md-4 col-lg-3 text-center ">
                        <img  src="../../../assets/img/carlo.png" alt="user" class="img-circle img-responsive">
                    </div>
                    <div class="col-md-8 col-lg-9">
                        <h3 class="box-title m-b-0">Carlos Bonilla</h3> <small>Contador Público</small>
                        <address>
                            "Como sociedad debemos tratar de contribuir a los más necesitados,<br>
                             con los que tengamos a la mano"
                            <br>
                            <br>
                            <!-- <abbr title="Phone">P:</abbr> (123) 456-7890 -->
                        </address>
                    </div>
                </div>
            </div>
            <div class="card card-body">
                <div class="row">
                    <div class="col-md-4 col-lg-3 text-center">
                        <a href="app-contact-detail.html"><img src="../assets/images/users/1.jpg" alt="user" class="img-circle img-responsive"></a>
                    </div>
                    <div class="col-md-8 col-lg-9">
                        <h3 class="box-title m-b-0">José Enrique
                            Cedeño Pino</h3> 
                        <address >
                            Como persona organizada y con una gran <br>
                            motivación, soy capaz de adaptarme
                            a cualquier circunstancia y dar siempre lo <br>
                            mejor de mí en cualquier proyecto, al
                            mismo tiempo que me esfuerzo por trabajar en <br>
                             equipo y fomentar valores como
                            los del compañerismo. Gracias a mi formación <br>
                             especializada, considero que
                            puedo aportar valor y seguir desarrollándome <br>
                             profesionalmente en una
                            compañía que coincida con mis valores y expectativas.
                            <br>
                            <br>
                            <!-- <abbr title="Phone">P:</abbr> (123) 456-7890 -->
                        </address>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>