<div class="container ">
    <div class="row gx-5 justify-content-left">
        <div class="col-lg-6 ">
            <div class="text-left my-5">
                <h1 class="display-5 fw-bolder text-black mb-2">Conoce más de lo que hacemos</h1>
                <p class="lead text-black mb-4">A mis 20 años de edad empecé a conocer una realidad social
                    donde el gran responsable es nuestra manera de pensar y
                    nuestra construcción cultural, acciones y decisiones cimentadas
                    en nuestros paradigmas mentales y estructuras de pensamientos.
                    A lo largo de mi vida me he visto impedido por las imposiciones
                    familiares y por la estructura social como tal a descubrir mi
                    propósito en la vida, luchaba sin saber que la solución a mis
                    problemas consistía en cambiar mi mente y replantearme mi
                    verdadero propósito, luego de ocupar puestos públicos y de
                    reconsiderar mi carrera académica, descubrí que mi pasión era
                    y es el de servir a los demás en lo que pudiera estar a mi alcance.
                    Sin embargo, el poco ingreso que obtenía no alcanzaba para
                    cumplir esta misión de vida y propósito por lo que asumí mi rol
                    histórico y social y con la ayuda de amigos constituí la Fundación
                    Alegrando el Alma para que a través de ella y con la contribución
                    de personas caritativas y generosas lograr servir y ayudar a mis
                    compatriotas más necesitados.
                    En LATAM siempre ha existido necesidad, por lo que para mí
                    significa la oportunidad para servir y ayudar y aquí estoy listo para
                    esta nueva etapa y les recuerdo lo que está escrito en la Biblia, la
                    palabra escrita de Dios:
                    “A Jehová presta el que da al pobre” Proverbios 19:17
                    “Dios ama y recompensa al dador alegre” 2 de Corintios 9:7
                    Para no cansarlos y no quitarles mucho tiempo, dejo unas frases
                    que me han acompañado en mi lucha.
                    “No todo está perdido en este mundo mientras aun respiramos.”
                    “Todos los días sale el sol, así como las oportunidades para
                    cambiar y ser felices.”</p>
              
             
                
            </div>
        </div>
    </div>
</div>
<section class="py-5 border-bottom" id="features">




    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                <h2 class="h4 fw-bolder">Featured title</h2>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                <!-- <a class="text-decoration-none" href="#!">
                    Call to action
                    <i class="bi bi-arrow-right"></i>
                </a> -->
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                <h2 class="h4 fw-bolder">Featured title</h2>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                <!-- <a class="text-decoration-none" href="#!">
                    Call to action
                    <i class="bi bi-arrow-right"></i>
                </a> -->
            </div>
            <div class="col-lg-4">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                <h2 class="h4 fw-bolder">Featured title</h2>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                <!-- <a class="text-decoration-none" href="#!">
                    Call to action
                    <i class="bi bi-arrow-right"></i>
                </a> -->
            </div>
        </div>
    </div>
</section>