
<div class="container  pb-4 row">
    <div class="col">
      <h1 class="text-center ">Pongamos de nuestro apoyo</h1>
      
      <img class="img" src="../../../assets/img/nino-vereda.jpg" alt="">
      
      <p>Mientras más nos juntemos en esta causa,
          <br>
          mayor será el impacto que podamos tener en la sociedad,
          <br>
          con tu donativo estarás ayudando a personas en <br>
          situación socialmente muy vulnerables.
      </p>

    </div>

    <div class="pt-8 col" #paypal >
      
      <form 
      [formGroup]="donanteForm"
      >
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Nombre y Apellido</label>
        <input type="text" class="form-control" id="formGroupExampleInput" formControlName="nombre" placeholder="Nombre y Apellido">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Valor</label>
        <input type="number" class="form-control" id="formGroupExampleInput2" formControlName="valor" placeholder="Monto a Donar">
      </div>


      </form>

     
    </div>

    <!-- <div id="paypal-container-EAZ8VSR3FFFW8"></div>
<script>
  paypal.HostedButtons({
    hostedButtonId: "EAZ8VSR3FFFW8",
  }).render("#paypal-container-EAZ8VSR3FFFW8")
</script> -->
  </div>