<!-- Contact section-->


    <div class="row  ">

        <div class="card col-3">
            <div class="card-body"> <small class="text-muted">Email </small>
                <h6>info&commat;fundacionayudavida.com</h6> <small class="text-muted p-t-30 db">Teléfono</small>
                <h6>+593 9820 8585</h6> <small class="text-muted p-t-30 db">Dirección</small>
                <h6>Urb. Duran City Etapa Bromelia Mz 14 Villa 29 </h6>
                <div class="map-box">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3986.885669335299!2d-79.76557002413611!3d-2.196938337301346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d69de1ccf40d7%3A0x90248bcae95bd57!2sUrbanizaci%C3%B3n%20Duran%20City%20-%20Etapa%20Bromelia!5e0!3m2!1ses!2sec!4v1708725130547!5m2!1ses!2sec" width="400" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div> 
             
            </div>
        </div>

        <!-- <div class="mt-5 card  col">
<form id="contact_form  " action="#" method="POST" enctype="multipart/form-data">
  <div class="h6">
    <label class="required" for="name">Nombre:</label><br />
    <input id="name" class="input" name="name" type="text" value="" size="30" /><br />
    <span id="name_validation" class="error_message"></span>
  </div>
  <div class="h6">
    <label class="required" for="email">Correo:</label><br />
    <input id="email" class="input" name="email" type="text" value="" size="30" /><br />
    <span id="email_validation" class="error_message"></span>
  </div>
  <div class="h6">
    <label class="required" for="message">Su Mensaje:</label><br />
    <textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
    <span id="message_validation" class="error_message"></span>
  </div>
    
    <input id="submit_button" type="submit" value="Enviar" />
</form>
        </div> -->
    </div>

