        <header class=" py-5">
         
            <div class="container ">
                <div class="row gx-5 justify-content-left">
                    <div class="col-lg-6 ">
                        <div class="text-left my-5">
                            <h1 class="display-5 fw-bolder text-black mb-2">Conoce más de lo que hacemos</h1>
                            <p class="lead text-black mb-4">
                              
                        Somos una organización sin fines de lucro, en donde trabajamos en los lugares más olvidados por la sociedad,
                        para poder así rescatar a jovenes, niños de escasos recursos, para darles apoyo en proyectos sociales y poder brindarles,
                        kit estudiantiles, medicos, alimentición.
                        </div>
                    </div>
                </div>
            </div>


         <!-- Comienzo de Carousel -->    
         <!-- <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide -to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../assets/img/imagen-alimentos.jpg" class="d-block w-100 " alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>First slide label</h5>
                  <p>Some representative placeholder content for the first slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../../assets/img/niños-juntos.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Second slide label</h5>
                  <p>Some representative placeholder content for the second slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../../assets/img/niños-escuela.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Third slide label</h5>
                  <p>Some representative placeholder content for the third slide.</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div> -->
            <!-- Fin de Carousel -->

            <div class="container px-5">
                
                <div class=" dos-columnas ">
                        <div class="item">
                          <h1>Animaté a ayudar</h1>

                          <p>En LATAM siempre ha existido necesidad, por lo que para mí
                            significa la oportunidad para servir y ayudar, 
                            <br> aquí estoy listo para
                            esta nueva etapa y les recuerdo lo que está escrito en la Biblia, la
                            palabra escrita de Dios:
                          <br>
                          <br>
                          “A Jehová presta el que da al pobre” Proverbios 19:17 
                          <br>
                          “Dios ama y recompensa al dador alegre” 2 de Corintios 9:7
                          <br>

                          Para no cansarlos y no quitarles mucho tiempo, dejo unas frases
                          que me han acompañado en mi lucha.

                          <br>
                          “No todo está perdido en este mundo mientras aun respiramos.”
                          <br>
                          “Todos los días sale el sol, así como las oportunidades para
                          cambiar y ser felices.”
                          <br>
                          “No se puede detener la salida del sol, como tampoco se podrá
                          detener nuestro éxito.”
                          <br>
                          Lamentaciones 3: 22, 23 y 24
                          22 Por la misericordia de Jehová no hemos sido consumidos,
                          <br>
                          porque nunca terminan sus misericordias. 23 Nuevas son cada
                          mañana; 
                          <br>
                          grande es tu fidelidad. 24 Mi porción es Jehová, dijo mi
                          alma; por tanto, en él esperaré.
                            
                          </p>
                          <h1>Desnutrición crónica infantil</h1>
                          <p>La desnutrición crónica se manifiesta principalmente en un retraso en el crecimiento de la persona, se mide de acuerdo a la relación entre su talla y edad. Este trastorno indica una carencia en los nutrientes de su alimentación durante un tiempo prolongado, lo que genera retraso tanto físico como mental.</p>
  
                        </div>
                        <div class="item">
                            <img  class="img" src="../assets/img/fotos/foto2.jpeg" />
                        </div>
                        <!-- <div class="item">
                            <p>Item3</p>
                        </div> -->
                </div>
                <div class="dos-columnas">
                    <div class="item">
                      <!-- Inicio de Card -->
                      <div class=" mb-3" style="max-width: 540px;">
                        
                          <div class="col-md-9">
                            <img src="../assets/img/fotos/WhatsApp Image 2024-02-23 dd.jpeg" class="img-fluid rounded-start" alt="...">
                          </div>
                          
                      </div>      
                    <!-- Fin de Card -->
                    </div>
                    <div class="item">

                      <h3>Unete a nosotros y ayudanos a cumplir este sueño</h3>
                      <p>Tenemos la misión de buscar los niños más vulnerabes
                        <br>para guiarlos por un camino correcto, lejos de la corrupción y abadono de la calles.
                      </p>


                    </div>
                </div>


                <div class=" ">
                    <div class="testimonio justify-content-center">

                        <h1>Ejes en los que buscamos aportar</h1>

                    </div>
                    

                    <div class="tres-columnas">

                      <!-- Start Card -->

                      <div class="card" 
                      >
                      <!-- style="width: 18rem;" -->
                      <h2>Salud</h2>
                        <img src="../assets/img/desnutricion-infantil.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">

                            En el Ecuador, la desnutrición crónica afecta al 20,1% de niños menores de 2 años, siendo las zonas rurales las más afectadas,
                            experimentan cuadros de sanidad alarmante, 
                            ya que principalmente los niños se vuelven más vulnerables a contraer diarrea crónica,
                            la cual deriva en una desnutrición severa, la cual es la segunda causa de muerte en niños,
                            menos de 5 años.

                            Por los cual es importante que también podamos hacer llegar los medicamentos necesarios, 
                            para que los niños en zonas rurales tengan una mayor expectativa de vida
</p>
                        </div>
                      </div>

                      <!-- End Card -->

                        <!-- Start Card -->
                      
                        <div class="card" 
                        >
                        <!-- style="width: 18rem;" -->
                        <h2>Educación</h2>
                        <img src="../assets/img/niños-escuela.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">


                            En Ecuador, de acuerdo con UNICEF (2020), aproximadamente 90.000 estudiantes se encuentran fuera del sistema educativo y 
                            el 15% de ellos aseguran que no han tenido un contacto habitual con sus docentes en las últimas dos semanas, algo alarmante,
                            ya que caundo los niños no tienen acceso a la educación, se les cierra muchas oportunidades laborales, los cual tiene como resultado
                            un circulo de pobreza, el cual los vuelve un sector vulnerables a ser reclutados por diferentes bandas, 
                            por lo cual es muy importante no abandonar a este sector, para que puedan llegar a ser productivos por si mismos.
                          
                          </p>
                        </div>
                      </div>

                      <!-- End Card -->
                        <!-- Start Card -->
                      
                      <div class="card" 

                      ><h2>Deportes</h2>
                      <!-- style="width: 18rem;" -->
                        <img src="../assets/img/fotos/olimpiadas-ecuador-deportistas.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">
                            
                            En el Ecuador hemos demostrado que tenemos mucho talento en diversas diciplinas de los deportes, tales como fútbol, lucha, boxeo, ateltismo, etc.
                            Muchos de nuestros máximos representantes a nivel internacional, provienen de origenes muy humildes, que buscaron el deporte como refugio a las calles,
                            con lo cual con mucha dedicación, han logrado destacar en gran manera.
                            Pero aún así existe una cantidad importante de niños y jovenes que les gustaría dedicar su tiempo en los deportes y de esta manera huir de las calles.
                            Por creemos es importante apoyarlos a que puedan triunfar en esta área.
                          
                          </p>
                        </div>
                      </div>

                      <!-- End Card -->


                    </div>



                </div>


            </div>
        </header>