<footer class="pt-2  bg-green">

  
        <div class="container  ">
          <div class="row ">

            <div class="col ">
              <div class="card-body">
                <h5 class="card-title">
                  <img class="w-5" src="assets/img/iconos/location-dot-solid.svg" alt="ubicacion-ico">
                  Dirección
                </h5>
                <p class="card-text">Urb. Duran City mz 14 villa 29</p>
              </div>
             
            </div>


            <div class="col">
              <div class="card-body">
                <h5 class="card-title">
                  <img class="w-5" src="assets/img/iconos/phone-solid.svg" alt="telefono-ico">
                  Telefonos
                </h5>
                <p class="card-text">0991264778 - 0989967879</p>
              </div>
              <div class="">
              </div>
            </div>


            <div class="col">
              <div class="card-body">
                <h5 class="card-title">
                  <img class="w-5" src="assets/img/iconos/envelope-regular.svg" alt="correo-ico">   
                  Correos
                </h5>
                <p class="card-text">info@fundacion.com </p>
                
              </div>
             
            </div>

          </div>
            
            
          </div>
        




    <div class="container  px-5">
      <p class=" text-center  text-black">Copyright &copy; {{year}} Fundación Alegrando el Alma </p>
    </div>
</footer>